.full-container {
    height: 100vh;
}

.label {
    padding: 5px 10px;
    background: $light;
    @include border-radius(4px);
    display: inline-block;
    font-size: $fs-11;
    line-height: 12px;
    vertical-align: middle;
    color: $white;
    &.label-green {
        background-color: $green;
    }
    &.label-blue {
        background-color: $blue;
    }
}
